# Auto detect text files and perform LF normalization
* text=auto
*.e linguist-language=e
*.bak linguist-language=e
*.vsln linguist-language=HuoShan
*.vbak linguist-language=HuoShan
*.vprj linguist-language=HuoShan
