# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

input.png
*.qm
/build
/build-Better_Real-ESRGAN-Desktop_Qt_6_4_2_MinGW_64_bit-Debug