# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

#指定文件
input.png
output.png
windeployqt.txt
help_output/help.chm

#后缀名
*.qm
*.idx
*.vsidx
*.spec
*.autosave

#源软件输出
/build-MinGW-Debug
/build-MSVC2019
/CMake/.vs
/CMake/out

#更新程序输出
develop.bat
updater.exe

#Visual Basic .NET
/command/VisualBasic.Net/AnimeJpg/bin
/command/VisualBasic.Net/AnimePng/bin
/command/VisualBasic.Net/DefaultJpg/bin
/command/VisualBasic.Net/DefaultPng/bin
/command/VisualBasic.Net/GeneralX4V3/bin
/command/VisualBasic.Net/GeneralX4V3_wdn/bin
/command/VisualBasic.Net/test/bin
/command/VisualBasic.Net/Video2/bin
/command/VisualBasic.Net/Video3/bin
/command/VisualBasic.Net/Video4/bin

#C Sharp
/command/C#/test/bin
/command/C#.NET/test/bin

#Java
/command/Java-Gradle-Groovy/test/out
/command/Java-Intellij/test/out
/command/Java-Maven/test/out

#C
/command/C/AnimeJpg/x64
/command/C/AnimePng/x64
/command/C/DefaultJpg/x64
/command/C/DefaultPng/x64
/command/C/GeneralX4V3/x64
/command/C/GeneralX4V3_wdn/x64
/command/C/Video2/x64
/command/C/Video3/x64
/command/C/Video4/x64
